# Visual Studio
.vs/

# .NET
bin/
obj/

# User-specific files
*.user
*.suo

# Application settings
appsettings.json
appsettings.*.json

# Keep example configuration
!appsettings.example.json

# Angular / Node
node_modules/
dist/
.angular/

# IDE
.idea/
.vscode/